.form-search {
  &__btn-send-data {
    padding: 15px;
    border: 1px solid #ddd;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    background: #ddd;
    color: #bbb;
    cursor: pointer;
    transition: .3s ease;

    &:focus {
      outline: unset;
      border: 1px solid #4285f4;
    }
    &:hover{
      color: #333;
      border: 1px solid #bbb;
    }
  }
}

.btn-enter {
  display: inline-block;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  background: #ddd;
  color: #bbb;
  cursor: pointer;
  transition: .3s ease;
  text-decoration: none;

  &:first-child {
    margin: 0 10px 0 0;
  }

  &:focus {
    outline: unset;
    border: 1px solid #4285f4;
  }
  &:hover{
    color: #333;
    border: 1px solid #bbb;
    text-decoration: none;
  }
}

.form-auth, .form-reg {

  &__link-open-reg-popup,
  &__link-open-auth-popup{
    align-self: flex-end;
  }

  &__close {
    border: none;
    width: 20px;
    height: 20px;
    position: relative;
    background: transparent;
    cursor: pointer;
    align-self: flex-end;
    margin: 0 0 10px;

    &:before,
    &:after {
      content: '';
      width: 20px;
      height: 1px;
      background: #aaa;
      position: absolute;
      left: 0;
      transition: background .3s ease;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }

    &:hover::after,
    &:hover::before {
      background: #000;
    }
  }

  &__btn-send-data {
    display: inline-block;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    background: #ddd;
    color: #bbb;
    cursor: pointer;
    transition: .3s ease;

    &:focus {
      outline: unset;
      border: 1px solid #4285f4;
    }
    &:hover{
      color: #333;
      border: 1px solid #bbb;
    }
  }
}

.switch {
  float: right;
  display: block;
  margin: 25px 20px 0;
  font-size: 18px
}

.animation {
  color: #ff2f51;
  text-decoration: underline;
  text-decoration-skip: ink;
  font-size: 18px;
}
