.form-search {
  width: 60em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

.form-auth, .form-reg {
  width: 30%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 33px 0 0;
  background: #fafafa;

  &__fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
