.wrapper {

  &__form-search {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
  }

  &__post {
    display: flex;
    margin: 33px 15px 20px;
    flex-wrap: wrap;
    justify-content: flex-start;

    &_column {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__form-auth {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
  }
}
